.section-title {
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.section-subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    margin: 20px auto 0;
    text-align: center;
    top: 20px;
}